Bags/
Doubly Linked Lists/
Hash Tables/
Insertion Sort/
Interface vs Abstract Class/
Linked Lists/
Mergesort/
Priority Queue & Heap/
Priority Queue/
Queues/
Quicksort/
Selection Sort/
Shellsort/
Stacks/
.bin
*.class